<div class="modal-header bg-primary" role="dialog">
  <h4 class="modal-title text-white">Search a value set</h4>
  <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="close(false)">
  </button>
</div>

<div class="modal-header">
  <ng-container *ngTemplateOutlet="search"></ng-container>
</div>
<ng-container *ngTemplateOutlet="results"></ng-container>

<ng-template #search>
  <form class="container" role="search">
    <div class="row align-items-center mb-2">
      <div class="align-items-center d-inline-flex">
        <div class="input-group input-group-sm searchFieldContainer">
          <input type="text" class="form-control p12"
                 [(ngModel)]="inputTerm"
                 [ngModelOptions]="{standalone: true}"
                 placeholder="Seach title"
                 aria-label="Search term"
                 aria-describedby="filterHelp">
          <button
            class="align-self-baseline btn btn-sm btn-primary input-group-append p12"
            type="button"
            id="button-addon2"
            (click)="searchInput()"
            [disabled]="loading$ | async">
            <span *ngIf="loading$ | async" class="spinner-border spinner-border-sm me-2" aria-hidden="true"
                  role="status"></span>
            <span *ngIf="loading$ | async">Loading...</span>
            <span *ngIf="(loading$ | async) === false">Search</span>
          </button>
        </div>
        <div class="ms-2"  #tooltip="ngbTooltip" (click)="tooltip.toggle()" [autoClose]="true" triggers="manual"
             ngbTooltip="Search all value sets by their title. Search string is case insensitive, accent-insensitive. Allow partial matches.">
          <mat-icon role="button"
                    class="menuIcon">info
          </mat-icon>
        </div>

      </div>
    </div>

    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>Advanced search</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="m-0 mb-2 row align-items-center statusList">
          <label for="searchField1" class="p-0 me-2  col-auto col-form-label text-nowrap">Status: </label>
          <ngx-bootstrap-multiselect class="col w-auto" id="searchField1"
                                     [options]="statusList" [(ngModel)]="status" [ngModelOptions]="{standalone: true}" ></ngx-bootstrap-multiselect>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <div *ngIf="bundle$ | async" class="row infoMessages">
      <div class="col">
        <h4 *ngIf="total === 1" role="tab">{{ total }} valueset resource was found.</h4>
        <h4 *ngIf="total > 1" role="tab">{{ total }} valueset resources were found.</h4>
        <h4 *ngIf="total === 0" role="tab">No valueset resources were found.</h4>
        <h4 *ngIf="total === undefined" role="tab">The following valueset resources were found.</h4>
      </div>
      <div class="col-auto btn-group btn-group-sm btn-sm float-end m-auto p-0" role="group" aria-label="Navigation">
        <button type="button" class="btn btn-outline-primary" [disabled]="!prevUrl" (click)="prevPage()">Previous
        </button>
        <button type="button" class="btn btn-outline-primary" [disabled]="!nextUrl" (click)="nextPage()">Next</button>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #results>
  <ng-container *ngIf="valueSets">
    <div class="modal-body bg-light" aria-live="polite">
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action result-item" *ngFor="let vs of valueSets; index as i"
           (click)="close(vs.url)">
          <div class="row">
            <div class="col-1">{{ resultsOffset + i + 1 }}</div>
            <div class="col-11">
              <div *ngIf="vs.title"><span>Title: </span> {{ vs.title }}</div>
              <div *ngIf="!vs.title">(No title assigned)</div>
              <div>Status: {{ vs.status }}</div>
              <div *ngIf="vs.meta && vs.meta.lastUpdated">Last updated: {{ vs.meta.lastUpdated | date: 'medium' }}</div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </ng-container>
</ng-template>
