.infoMessages {
  padding: 18px 10px !important;
}

.result-item:hover {
  background-color: lightgrey;
}
.statusList{
  min-height: 100px;
}

.searchFieldContainer {
  padding: 8px 0;
}

.p12 {
  padding: 12px;
}
::ng-deep ngx-bootstrap-multiselect .dropdown-menu {
  display: flex ! important;
}
